<div class="icon"><%= image_tag current_user.picture.url if current_user.picture? %></div>
<h1><%= link_to current_user.name, current_user %></h1>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>